# Series

In [1]:
import numpy as np
import pandas as pd

## Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
# criando lista, array numpy e dicionário
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

### Using Lists

In [6]:
pd.Series(my_list, index = labels)

a    10
b    20
c    30
dtype: int64

###Using NumPy Arrays

In [7]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

###Using Dictionaries

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

###Using an Index

In [9]:
sales_Q1 = pd.Series(data=[250,450,200,150],index = ['USA', 'China','India', 'Brazil'])

In [10]:
sales_Q1

USA       250
China     450
India     200
Brazil    150
dtype: int64

In [11]:
sales_Q2 = pd.Series([260,500,210,100],index = ['USA', 'China','India', 'Japan'])

In [13]:
# acessando um index da Serie
sales_Q2['China']

500

In [15]:
# outra forma
sales_Q2.India

210

In [17]:
# índice
sales_Q2[0]

260

Operations are then also done based off of index:

In [20]:
# retorna NaN em operações com índices diferentes
sales_Q2 + sales_Q1

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64